@use "../helpers" as *;

.accordion {
  &__details {
    &[open] {
      .accordion__title {
        &::after {
          rotate: 0deg;
        }

        &::after,
        &::before {
          background-color: var(--color-light);
        }
      }

      & + .accordion__content {
        grid-template-rows: 1fr;
      }
    }
  }
  &__summary {
    list-style: none;
    color: var(--color-light);

    @include hover {
        color: var(--color-accent);
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__title {
    position: relative;
    padding-right: rem(50);
    color: inherit;
    transition-duration: var(--transition-duration);

    &::before,
    &::after {
      @include abs-y;

      content: "";
      width: rem(16);
      height: rem(2);
      right: 0;
      border-radius: 1rem;
      transition-duration: var(--transition-duration);
      background-color: var(--color-accent);
    }

    &::after {
      rotate: 90deg;
    }
  }

  &__content {
    display: grid;
    grid-template-rows: 0fr;
    transition-duration: 0.3s;

    &-inner {
      overflow: hidden;
    }

    &-body {
      margin-top: fluid(24, 16);
      padding-top: fluid(24, 16);
      border-top: var(--border);
    }
  }
}
