@use "../helpers" as *;

.blog-action {

  &__list {
    display: flex;
    column-gap: rem(10);

    @include laptop {
      column-gap: rem(8);
    }
  }

  &__button {
    display: inline-flex;
    align-items: center;
    column-gap: rem(4);
    padding: rem(8) rem(16);
    font-family: var(--font-family-accent);
    font-size: rem(18);
    border-radius: rem(100);
    border: var(--border);
    color: var(--color-gray-60);
    background-color: var(--color-gray-10);

    @include laptop {
      padding: rem(6) rem(12);
      column-gap: rem(2);
      font-size: rem(14);
    }

    &.is-active {
      svg * {
      fill: var(--color-red);
      stroke: var(--color-red);
      }
    }
  }

  &__icon-wrapper {
    --size: #{rem(24)};

    @include square(var(--size));
    display: flex;

    @include laptop {
      --size: #{rem(20)};
    }

    svg {
      width: 100%;
      height: 100%;

      * {
        fill: transparent;
      }
    }
  }
}
