@use "../helpers" as *;

.button {
  display: inline-flex;
  justify-content: center;
  min-width: rem(137);
  white-space: nowrap;
  padding: rem(18) rem(24);
  border: var(--border);
  border-radius: var(--border-radius-button);
  background-color: var(--color-dark);
  color: var(--color-gray-60);

  @include laptop {
    padding: rem(14) rem(20);
    border-radius: rem(8);
  }

  @include hover {
    color: var(--color-accent);
    border-color: var(--color-accent);
    background-color: var(--color-dark-10);
  }

  &--accent {
    padding: rem(14) rem(20);
    border-radius: var(--border-radius);
    background-color: var(--color-accent);
    color: var(--color-dark);

    @include laptop {
      padding: rem(10) rem(14);
      border-radius: rem(6);
    }
  }

  &--dark-gray {
    background-color: var(--color-dark-10);
  }
}
