@use "../helpers" as *;

.hero {
  &__main {
    @include tablet-above {
      display: grid;
      grid-template-columns: 60% auto;
      grid-template-areas:
        "body resources-preview"
        "metrics resources-preview";
    }
  }

  &__body {
    grid-area: body;
    padding-top: rem(150);
    padding-right: rem(50);
    padding-bottom: rem(100);

    @include laptop {
      padding-top: rem(100);
      padding-right: rem(40);
    }

    @include tablet-above {
      padding-top: rem(40);
      padding-right: rem(0);
      padding-bottom: rem(30);
    }

    &-subtitle {
      @include fluid-text(30, 18);

      font-family: var(--font-family-accent);
      font-weight: 500;
      line-height: 1.2;
      color: var(--color-gray-40);

      &:not(:last-child) {
        margin-bottom: fluid(30, 14);
      }
    }

    &-title {
      &:not(:last-child) {
        margin-bottom: fluid(20, 10);
      }
    }
  }

  &__metrics {
    grid-area: metrics;

    @include tablet-above {
      border-top: var(--border);
    }

    @include tablet {
      &::before {
        width: 100vw;
        right: calc(var(--container-padding-x) * -1);
      }
    }
  }

  &__resources-preview {
    grid-area: resources-preview;
  }

  &__resources-preview {
    padding-left: fluid(80, 40);
    padding-bottom: fluid(80, 40);
    border-left: var(--border);
    background: url("../../../public/images/hero/resources-preview/bg-container.png") 0 0 / cover no-repeat;

    @include tablet {
      padding-top: rem(100);
      padding-right: rem(40);
      width: 100vw;
      margin-left: calc(var(--container-padding-x) * -1);
      background: url("../../../public/images/hero/resources-preview/bg-container-media-tablet.png") no-repeat;
      background-size: contain;
    }
  }

  &__advantages {
    border-block: var(--border);

    &-list {
      @include tablet-above {
        margin-block: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    &-item {
      --paddingX: #{rem(80)};

      padding-block: fluid(50, 30);

      @include laptop {
        --paddingX: #{rem(50)};
      }

      @include tablet-above {
        &:not(:first-child) {
          padding-left: var(--paddingX);
        }

        &:not(:last-child) {
          padding-right: var(--paddingX);
          border-right: var(--border);
        }
      }

      @include tablet {
        &:not(:last-child) {
          border-bottom: var(--border);
        }
      }

    }
  }
}
