@use "../helpers/" as *;

.icon {
  display: flex;
  align-items: center;
  column-gap: rem(10);

  &::after {
    --size: #{rem(24)};

    @include square(var(--size));

    @include laptop {
      --size: #{rem(20)};
    }

    content: "";
    flex-shrink: 0;
    background: url("../../../public/icons/arrow-top-right-yellow.svg")
        center/contain no-repeat;
  }

  &--yellow-arrow {
    &::after {
      background: url("../../../public/icons/arrow-top-right-yellow.svg")
        center/contain no-repeat;
    }
  }

  &--yellow-eye {
    &::after {
      background: url("../../../public/icons/Icon-yellow-eye.svg")
        center/contain no-repeat;
    }
  }

  &--gray-arrow-down {
    &::after {
      background: url("../../../public/icons/blog/hero/Icon-gray-down.svg")
        center/contain no-repeat;
    }
  }
}
