@use "../helpers" as *;

.news {
  display: grid;
  row-gap: rem(60);
  padding-block: fluid(80, 40);

  @include laptop {
    row-gap: rem(40);
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(350), 1fr));
    column-gap: rem(30);
    row-gap: rem(30);

    @include mobile-above {
      row-gap: rem(30);
    }
  }
}