@use "../helpers" as *;

.report-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: fluid(30, 20);

  &__image {
    width: 100%;
    height: rem(290);
    object-fit: cover;
    border-radius: var(--border-radius-button);

    @include mobile {
      height: rem(223);
    }
  }

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: rem(14);
    flex-grow: 1;

    @include laptop {
      row-gap: rem(10);
    }
  }

  &__actions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: rem(20);

    @include laptop {
      column-gap: rem(10);
    }
  }
}