@use "../helpers" as *;

.resources-preview {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: start;
  row-gap: fluid(30, 20);

  &__body {
    display: grid;
    row-gap: fluid(14, 4);
  }
}