@use "../helpers" as *;

.review-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: rem(40);
  max-width: rem(700);
  margin-inline: auto;

  @include laptop {
    row-gap: rem(30);
  }

  &__author {
    --imageSize: #{rem(60)};

    @include laptop {
      --imageSize: #{rem(50)};
    }
  }

  &__body {
    position: relative;
    text-align: center;
    padding: fluid(30, 20);
    padding-top: fluid(50, 30);
  }

  &__rating-view {
    @include  abs-center;

    top: 0;
  }

  &__description {
    color: var(--color-light);
  }
}
