@use "../helpers" as *;

.soc1als {
  &__list {
    display: flex;
    align-items: center;
    column-gap: fluid(20, 14);
  }

  &__link {
    --size: #{rem(24)};

    @include square(var(--size));

    @include laptop {
      --size: #{rem(20)};
    }

    display: flex;
    color: var(--color-light);

    @include hover {
      & svg path {
        fill: var(--color-accent);
      }
    }
  }

  &--3-cols {
    width: 100%;
    max-width: rem(308);
    .soc1als {
      &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        row-gap: rem(10);

        @include laptop {
          column-gap: rem(10);
        }

      }

      &__link {
        @include flex-center();

        height: rem(60);
        width: 100%;
        border: var(--border);
        border-radius: var(--border-radius-small);
        background-color: var(--color-dark-10);

        @include laptop {
          height: rem(48);
        }
      }
    }
  }
}
