@use "../helpers" as *;

.table-of-contents {
  padding: rem(20);
  border-radius: var(--border-radius-button);
  color: var(--color-light);
  background-color: var(--color-dark-10);

  @include laptop {
    border-radius: var(--border-radius);
  }

  &__list {
    display: grid;
    row-gap: rem(20);

    @include laptop {
      row-gap: rem(20);
    }
  }

  &__item {
    list-style-type: disc;
    margin-left: 1.5em;
  }
}
