@use "../helpers" as *;

.team {
  --personImageSize: #{rem(60)};

  display: flex;
  padding: fluid(10, 8);
  border-radius: rem(100);
  background-color: var(--color-dark-10);

  

  &__person {
    @include square(rem(60));
    
    border: rem(2) solid var(--color-dark-40);
    border-radius: 50%;
    background-color: var(--color-dark-15);

    &:not(:first-child) {
      margin-left: calc(var(--personImageSize)  / 4 * -1);
    }
    @include laptop {
      @include square(rem(50));

      border-width: rem(1);
    }

    @include mobile {
      @include square(rem(40));

      border-width: rem(1);
    }
  }
}