@use "../helpers" as *;

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.visually-hidden {
  @include visually-hidden;
}


.hidden-mobile {
  @include mobile {
    display: none !important;
  }
}

.visible-mobile {
  @include mobile-above {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    width: calc(
            (100vw - var(--container-width)) / 2
    );
    height: rem(1);
    background-color: var(--color-dark-15);
  }

  &--top {
    &::before {
      content: '';
      bottom: 100%;
    }
  }

  &--bottom {
    &::after {
      content: '';
      top: 100%;
    }
  }

  &--left {
    &::before,
    &::after {
      right: 100%;
    }
  }

  &--right {
    &::before,
    &::after {
      left: 100%;
    }
  }
}


.circle-icon {
  --circlSize: #{rem(52)};
  --circlMarginLeft: #{rem(20)};

  position: relative;
  min-height: var(--circlSize);
  padding-right: calc(var(--circlSize) + var(--circlMarginLeft));

  @include mobile {
    row-gap: rem(2);
  }
  &:after {
    @include square(var(--circlSize));
    @include abs-y;

    @include laptop {
      --circlSize: #{rem(44)};
      --circlMarginLeft: #{rem(16)};
      row-gap: rem(2);
    }

    @include mobile {
      --circlSize: #{rem(40)};
      --circlMarginLeft: #{rem(14)};
    }

    content: "";
    position: absolute;
    right: 0;
    border-radius: 100%;
    background: url("../../../public/icons/hero/Icon-arrow-bottom-black.svg") center no-repeat;
    background-color: var(--color-accent);
  }
}

